<div id="sidebar-wrapper">
  <nav id="spy">
      <ul class="sidebar-nav nav">
          <li class="sidebar-brand">
              <a href="/"><span class="fa fa-home solo">Home</span></a>
          </li>
          <li>
              <a href="/filesCsv" data-scroll>
                  <span class="fa fa-anchor solo">Put the request</span>
              </a>
          </li>
          <li>
              <a href="/checkRequest" data-scroll>
                  <span class="fa fa-anchor solo">Files CSV</span>
              </a>
          </li>
      </ul>
  </nav>
</div>
