<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Comma point - Oxynum</title>

    <link rel="stylesheet" href="/css/master.css">
    <script src="/js/menu-navbar.js" charset="utf-8"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div id="wrapper">
      <div id="sidebar-wrapper">
              <nav id="spy">
                  <ul class="sidebar-nav nav">
                      <li class="sidebar-brand">
                          <a href="#home"><span class="fa fa-home solo">Home</span></a>
                      </li>
                      <li>
                          <a href="#anch1" data-scroll>
                              <span class="fa fa-anchor solo">Put the request</span>
                          </a>
                      </li>
                      <li>
                          <a href="#anch2" data-scroll>
                              <span class="fa fa-anchor solo">Files CSV</span>
                          </a>
                      </li>
                  </ul>
              </nav>
          </div>
          <div id="page-content-wrapper">
    <div class="content-header">
        <h1 id="home">
            <a id="menu-toggle" href="#" class="glyphicon glyphicon-align-justify btn-menu toggle">
                <i class="fa fa-bars"></i>
            </a>
            Comma Point, from TSV to CSV.
        </h1>
    </div>
      <div class="jumbotron">
        <h1>Comma Point</h1>
        <div class="col-lg-6">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="button">Go!</button>
              </span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
