<% include partials/header %>

  <div id="page-content-wrapper">
    <div class="content-header">
        <h1 id="home">
            <a id="menu-toggle" href="#" class="glyphicon glyphicon-align-justify btn-menu toggle">
                <i class="fa fa-bars"></i>
            </a>
            Comma Point, from TSV to CSV.
        </h1>
    </div>
      <div class="jumbotron text-center">
        <h1>Comma Point</h1>
        <h3>Current Query:</h3>
        <code><%= query %></code> <!-- PUT JAVASCRIPT VAR -->
        <hr>
        <form action="/" method="post" class="col-lg-6">
          <div class="input-group">
            <input type="text" class="form-control" name="query" placeholder="Register new request">
              <span class="input-group-btn">
                <input class="btn btn-success" type="submit">Save Query</input>
              </span>
          </div>
        </form >
      </div>

<% include partials/footer %>
